{{!-- so rather than duplicating navbar, we will inherit from base --}}

{{#extends "base"}}
{{#block "title"}}
    Contact us
{{/block}}
{{#block "content"}}
    <h1> contact us </h1>

{{/block}}
{{/extends}}


