{{!-- so rather than duplicating navbar, we will inherit from base --}}

{{#extends "base"}}
{{#block "title"}}
    Home
{{/block}}

{{#block "content"}}
    <h1> Hello, world </h1>

{{/block}}
{{/extends}}