<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <h1> Lucky Number is {{number}}</h1>
    
    <p> The reason why it is called handlebars is because the curly braces look like handle bars</p>
    <p> Today's date: {{date}}</p>
    <p> HBS is not executed on the browser, only finalized html is sent to the browser. </p>
    <p> when they view page source, they cannot see where the "number" and "date" comes from</p>
    <p> we send html, but handlebars itself is not html</p>

    <img src="merlion.jpg">
</body>
</html>